:root {
    --main-color: #002EFF;
}

body {
    min-height: 100vh;
    background-color: var(--main-color);
    background-image: linear-gradient(147deg, var(--main-color) 0%, var(--main-color) 100%);
    font-family: Barlow, sans-serif;
}

.text-justify {
    text-align: justify;
}

.fs-2r {
    font-size: 2rem;
}